*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Work Sans;
}
.btn-primary{
    background: #F15B22;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: #ffffff;
}
/* Header style start */
.header{
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    display: flex;
    justify-content: end;
}
.header-container{
    width: 480px;
    text-align: right;
    padding: 216px 230px 167px 0;
}
.header-container h1{
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 24px;
}
.header-container p{
    line-height: 26px;
    margin-bottom: 32px;
}
/* Header style end */
/* Stat style start */
.stat{
    margin: 130px 206px;
}
.stat-container{
    display: flex;
    align-items: center;
    max-width: 1072px;
    margin: 0 auto;
    gap: 87px;
    vertical-align: middle;
}
.stat-container .content{
    margin-top: 135px;
}
.circle {
    width: 524px;
    height: 524px;
    background-color: #F15B22;
    border: 1px solid #F15B22;
    border-radius: 50%;
}
.stat-container .image .circle {
    position: absolute;
    top: 1108px;
    left: 247px;
    z-index: -1;
    opacity: 0.2;
}
.stat-container .content h3{
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}
.stat-container .content p{
    margin-bottom: 16px;
}
.stat-container .content li{
    line-height: 26px;
    margin-bottom: 10px;
}
.stat-container .content li i{
    color: #16D887;
}
/* Stat style end */
/* Plan style start */
.plan-container h3, .skill-container h3{
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px!important;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.plans{
    display: flex;
    justify-content: center;
    gap: 120px;
}
.plan-details{
    text-align: center;
}
.plan-details h4{
    font-size: 20px;
    line-height: 30px;
}
.plan-details p{
    font-size: 16px;
    line-height: 25px;
}
.plan-details img{
    width: 45px;
}
/* Plan style end */
/* Footer top banner style start */
.footer-top-banner{
    margin: 130px 230px;
    background-image: url('../images/gradient2.png'), url('../images/watch.png');
    background-repeat: no-repeat;
}
.footer-top .content{
    width: 460px;
    padding: 60px;
    color: #ffffff;
}
.footer-top .content .btn-secondary{
    background-color: #ffffff;
    color: #F15B22;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
.footer-top .content h3{
    font-size: 30px;
    margin-bottom: 24px;
}
/* Footer top banner style end */
/* Skill plan style start */
.skill-description{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -25px;
}
.skill-box-container i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box-container{
    display: flex;
    justify-content: flex-start;
}
.skill-box-container{
    display: flex;
    text-align: left;
    gap: 15px;
    max-width: 1140px;
    margin: 0px auto 130px;
}
.skill-box1{
    background: rgba(79, 157, 166, 0.1);
    padding: 30px 12px;
}
.skill-box1 i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box1 .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skill-box1 .description{
    font-size: 14px;
}
.skill-box2{
    background: rgba(255, 89, 89, 0.1);
    padding: 30px 12px;
}
.skill-box2 i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box2 .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skill-box2 .description{
    font-size: 14px;
}
.skill-box3{
    background: #FFF4D6;
    padding: 30px 12px;
}
.skill-box3 i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill-box3 .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skill-box3 .description{
    font-size: 14px;
}
/* Skill plan style end */
/* Footer style start */
footer{
    padding: 130px 230px;
    background-color: #000000;
    color: #ffffff;
}
.footer-container{
    display: flex;
}
.footer-left{
    width: 70%;
}
.footer-paragraph{
    width: 65%;
}
.footer-left .icons{
    margin-top: 32px;
    display: flex;
    gap: 18px;
}
.footer-left h2, p{
    margin-bottom: 16px;
}
.footer-left p.footer-paragraph{
    margin-bottom: 24px;
}
.footer-right h4{
    margin-bottom: 31px;
}
.footer-right input[type="email"]{
    padding: 10px 140px 10px 10px;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
::placeholder{
    color: #ffffff;
}
.footer-right input[type="submit"]{
    margin-top: 16px;
    padding: 10px 18px;
    color: #F15B22;
    font-weight: bold;
    border-radius: 5px;
}
/* Footer style end */